table {border: none;}

.introduction {
    padding: 150px 50px 100px 0px;
    height: 50rem;
    background-color: black;
    width: 45%;
    color: white;
    text-align: right;
}

.introduction h1 {
    font-size: 70px;
    margin-bottom: 50px;
}

.introduction h3 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 40px;
}

.introduction p {
    display: inline-block;
    margin: 8px;
    font-size: 60px;
}

.introduction button {
    margin-top: 60px;
    width: 300px;
}

.profile-pic img{
    float: right;
    margin-top: 40px;
    width: 55%;
    height: 47.5rem;
}

.whoiam {
    padding: 150px 100px 150px 100px;
    background-color: lightgrey;
}

.whoiam td {
    width: 60%;
    font-size: 40px;
    vertical-align: top;
}

.whoiam .heading {
    width: 40%;
}

.whoiam h1 {
    margin-left: 40%;
    font-size: 60px;
}

.image-col {
    width: 50%;
}

.des-col {
    padding: 0px 60px ;
}

.whatido img {
    width: 100%;
    height: 750px;
}

.whatido-des {
    width: 100%;
    font-size: 30px;
    border-collapse: separate;
    border-spacing: 0 30px;
}

.des-col h1 {
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 60px;
}

.whatido-des td {
    vertical-align: top;
}

.table-heading {
    color: grey;;
}

.education {
    background-color: grey;
    color: white;
}

.education h1 {
    margin: 40px 0 50px 60px;
    font-size: 60px;
}

.institute {
    text-align: right;
    padding-right: 30px;
    margin-bottom: 50px;
}

.institute p {
    font-size: 25px;
}

.img-education {
    width: 60%;
}

.img-education img{
    width: 100%;
    height: 700px;
}

.skills {
    padding: 60px;
    padding-bottom: 120px;
}

.skills h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

.skills p {
    margin:0px 0px 45px 15px;
    font-size: 40px;
}

.academic-awards {
    background-color: black;
    color: white;
}

.awards-img {
    padding-left: 100px;
    padding-top: 70px;
    width: 40%;
    align-items: center;
}

.awards-img h1 {
    margin-bottom: 30px;
    font-size: 60px;
}

.awards-img img {
    margin-left: 40px;
    width: 70%;
    /* border: 5px solid black; */
}

.awards-des {
    float: right;
    padding:180px 200px 100px 0px;
    width: 50%;
}

.awards-des p{
    font-size: 35px;
    margin-bottom: 45px;
}

.more-information {
    background-image: url("https://media-public.canva.com/HGwdk/MAEQpnHGwdk/1/s3.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    color: white;
    text-align: center;
}

.more-information div{
    background: rgba(0, 0, 0, 0.5);
    padding: 300px 50px 0px 50px;
    height: 100%;
}

.more-information h1{
    font-size: 70px;
    margin-bottom: 45px;
}

.contact-me {
    padding: 60px 100px;
    background-color: lightgrey;
}

.contact-me h1{
    font-size: 70px;
    margin-bottom: 100px;
}

.contact-info{
    padding: 20px 100px;
    font-size: 25px;
}

.contact-info h2{
    font-size: 40px;
}

.social-media {
    float: right;
    padding: 20px 300px 0px 0px;
    font-size: 30px;
}